{% extends 'base.html' %}
{% block content %}

<section class="message">
  <h1>Hey Osmar</h1>
  <p>You have successfully schedule a court on Facility Name</p>
  <p>
    Enjoy your time and remember to make a review after and let us know how your
    experience was!
  </p>
</section>
<section class="appointment-box">
  <span class="details">UPCOMING APPOINTMENT</span>
  <div class="cards">
    <div class="data-box">
      <div class="box-icon">
        <i class="fa-sharp fa-solid fa-calendar-check fa-lg"></i>
      </div>
      <h2>Appointment details</h2>
      <table>
        <tr>
          <td class="td-title">Time</td>
          <td class="td-data">Tue, Aug 2nd, 2:00 PM</td>
        </tr>
        <tr>
          <td class="td-title">Facility</td>
          <td class="td-data">Falicity Name</td>
        </tr>
        <tr>
          <td class="td-title">Court</td>
          <td class="td-data">Nome Corte</td>
        </tr>
        <tr>
          <td class="td-title">Duration</td>
          <td class="td-data">2hs</td>
        </tr>
      </table>
    </div>
    <div class="map-box">
      <img
        src="https://maps.googleapis.com/maps/api/staticmap?center=1763+comox+street,Vancouver,BC&zoom=15&size=300x200&markers=color:red%7C1763+comox+street,Vancouver,BC&key=AIzaSyA9Jnj8xt9IH_B_Jvken_vmpAb_dc_tuwo"
        alt="map location"
        class="map"
      />
      <div class="map-info">
        <h2>Location</h2>
        <p>1763 comox street, BC, Vancouver, V6G1G7</p>
      </div>
    </div>
  </div>
</section>
<div class="divisor"></div>
{% include 'appAd.html' %} 
{% endblock %}


